
</body>
</html>
<script>
    $("#button-logout").click(function(){
        $.ajax({
            url: "/api/admins/logout",
            type: "POST",
            async: false,
            cache: false,
            contentType: false,
            encrypt: "multipart/form-data",
            processData: false,
            success: (response) => {
                window.location.href = "/login"
            },
            error: function (request, status, error) {
                alert(request.responseJSON.message)
            },
        });
    })
</script>